.footer-container {
    width: 87%;
    max-width: 1187px;
    margin: 0px auto;
    padding: 20px 0px 15px;
    gap: 172px;
    font-family: "Lato", sans-serif;
}
  
.footer-wrapper {
    gap: 108px;
    align-items: center;
}
  
.footer-logo {
    display: flex;
    gap: 8px;
    align-items: center;
}
  
.footer-logo div {
    display: flex;
    gap: 4px;
    flex-direction: column;
}
  
.footer-logo div h2 {
    color: #781717;
    font-family: "Inter", sans-serif;
    font-size: 16.85px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
  
.footer-logo div p {
    color: #781717;
    font-family: "Inter", sans-serif;
    font-size: 16.85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-sections {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-navlinks.about {
    margin-top: 40px;
}

.footer-sections h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-navlinks li {
    list-style-type: none;
    font-size: 14px;
    margin: 5px 0 5px 0;
}

.footer-navlinks li a {
    text-decoration: none;
    color: #000;
}

.footer-navlinks li a:hover {
    color: #781717;
    text-decoration: underline;
}


.footer-navlinks form input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    width: 250px;
}


  
@media only screen and (max-width: 767px) {
    .footer-container {
      gap: 80px;
    }
  
    .footer-logo div p {
      font-size: 16.85px;
    }

    .footer-sections {
        display: flex;
        flex-direction: column;
    }
}
